# Configuration
.env
public/environment.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage files
*output/

# Visual Studio Code
.vscode/*
!.vscode/settings-template.json
!.vscode/launch-template.json
!.vscode/extensions.json
